.App {
  padding: 0 80px;
}
.footer{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  .App {
    padding: 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .App {
    padding: 0 10px;
  }
}
